.small-sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: all 0.1s linear;
}
.show {
    z-index: 3;
    opacity: 1;
}

.sidebar-content {
    width: 90%;
    height: 95%;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.btn-close {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 6px 8px;
    font-size: 600;
    color: rgb(233, 0, 0);
    cursor: pointer;
}

.btn-wrapper {
    text-align: right;
    margin-right: 12px;
}

.close-icon {
    font-size: 2rem;
}

.nav-menu li {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

li a {
    color: var(--grey-300);
    font-size: 1.3rem;
}
.activeStyle {
    color: var(--primary-800);
    padding-left: 8px;
}

@media screen and (min-width: 860px) {
    .small-sidebar {
        display: none;
    }
}
