.small-sidebar {
    background-color: #fff;
}

.small-container {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 860px) {
    .small-sidebar {
        display: none;
    }
}
