.hero {
    min-height: calc(100vh - 20vh);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.info {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: var(--shadow-3);
    border-radius: 4px;
}

.hero-image {
    display: none;
}

.hero-btn {
    margin-bottom: 1rem;
}

@media screen and (min-width: 680px) {
    .hero {
        grid-template-columns: 1fr 1fr;
    }
    .hero-image {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        grid-template-columns: 2fr 1fr;
    }
}
