.job-details-container {
    background-color: var(--white);
    padding: 2rem;
    box-shadow: var(--shadow-2);
    margin-bottom: 1rem;
}

.apply-icon {
    margin-right: 6px;
}

.title {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-right: 4px;
}
