.nav-center {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-100);
}

.nav-text {
    font-size: 1.4rem;
}

.nav-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 1.1rem;
}

.nav-icon {
    font-size: 1.6rem;
}

.hide {
    display: none;
}

.nav-text-wrapper {
    display: none;
}

.nav-logo {
    width: 5rem;
}

@media screen and (min-width: 860px) {
    .nav-logo {
        display: none;
        font-size: 1rem;
    }

    .nav-text-wrapper {
        display: unset;
    }
}
