.sidebar-container {
    background-color: var(--white);
    display: none;
}
.logo-section {
    width: 50%;
    margin: 0 auto;
}

.btn-wrapper {
    text-align: right;
    margin-right: 12px;
}

.close-icon {
    font-size: 2rem;
}

.nav-menu li {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.nav-menu li:hover {
    box-shadow: var(--shadow-2);
    padding-left: 0.5rem;
    transition: all 0.2s linear;
}

li a {
    color: var(--grey-300);
    font-size: 1.3rem;
}

.activeStyle {
    color: var(--primary-800);
}

@media screen and (min-width: 860px) {
    .sidebar-container {
        display: block;
        min-height: 100vh;
        height: 100%;
        width: 250px;
        margin-left: 0;
    }
    .content {
        position: sticky;
        top: 2rem;
    }

    .show {
        margin-left: -250px;
    }
}
