.sidebar-container {
    background-color: aliceblue;
    display: none;
}

.btn-wrapper {
    text-align: right;
    margin-right: 12px;
}

.close-icon {
    font-size: 2rem;
}

.nav-menu li {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.nav-menu li:hover {
    background-color: var(--primary-100);
    padding-left: 0.5rem;
    transition: all 0.2s linear;
}

.nav-menu li a {
    color: var(--primary-800);
}

@media screen and (min-width: 860px) {
    .sidebar-container {
        display: block;
        min-height: 100vh;
        height: 100%;
        width: 250px;
        margin-left: 0;
    }
    .content {
        position: sticky;
        top: 0;
        padding: 2rem;
    }

    .show {
        margin-left: -250px;
    }
}
