@import './reset.css';

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

html {
    font-size: 100%;
} /*16px*/

:root {
    /* colors */
    --primary-50: #e0fcff;
    --primary-100: #bef8fd;
    --primary-200: #87eaf2;
    --primary-300: #54d1db;
    --primary-400: #38bec9;
    --primary-500: #2cb1bc;
    --primary-600: #14919b;
    --primary-700: #0e7c86;
    --primary-800: #0a6c74;
    --primary-900: #044e54;

    /* grey */
    --grey-50: #f0f4f8;
    --grey-100: #d9e2ec;
    --grey-200: #bcccdc;
    --grey-300: #9fb3c8;
    --grey-400: #829ab1;
    --grey-500: #627d98;
    --grey-600: #486581;
    --grey-700: #334e68;
    --grey-800: #243b53;
    --grey-900: #102a43;

    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    --green-dark-bg: #147246d7;

    --font-clr: #001e1d;

    /* fonts  */
    --headingFont: 'Roboto Condensed', Sans-Serif;
    --bodyFont: 'Cabin', Sans-Serif;
    --small-text: 0.875rem;
    --extra-small-text: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--primary-100);
    --textColor: var(--grey-800);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --width: 90vw;
    --max-width: 1440px;
    --min-width: 240px;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    letter-spacing: var(--letterSpacing);
}
a,
button {
    line-height: 1.15;
}
button:disabled {
    cursor: not-allowed;
    background-color: var(--grey-200);
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-2);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 1rem;
}

.btn-primary {
    color: var(--white);
    background-color: var(--grey-700);
}

.btn-primary:hover {
    box-shadow: var(--shadow-3);
    color: var(--white);
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary {
    background: var(--grey-700);
    background-color: var(--white);
    margin-left: 0.5rem;
}

.btn-secondary:hover {
    color: var(--primary-500);
    box-shadow: var(--shadow-3);
}

.btn-form .center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-edit {
    background-color: #fcefc7;
    color: #ad8a3f;
}
.btn-delete {
    background-color: #f8d7da;
    color: #882040;
}

.btn-prev {
    margin-right: 1rem;
}
.btn-next {
    margin-left: 1rem;
}

/* # Form */

.form {
    background-color: var(--white);
    width: 90%;
    max-width: var(--max-width);
    margin: 3rem auto;
    padding: 2rem;
    border-top: 4px solid var(--primary-900);
    border-radius: 12px;
    transition: var(--transition);
    box-shadow: var(--shadow-2);
}
.form:hover {
    box-shadow: var(--shadow-4);
}

.label {
    display: block;
    font-size: var(--small-text);
    letter-spacing: var(--letterSpacing);
}

.form-input {
    width: 100%;
    background-color: var(--grey-50);
    border: 1px solid var(--grey-100);
    padding: 0.3rem 0.7rem;
    border-radius: var(--borderRadius);
}
.form-row {
    width: 100%;
    margin-bottom: 1.4rem;
}

.align-center {
    text-align: center;
}

.alert-message {
    font-size: 1rem;
    padding: 4px 0;
}
.input-wrapper {
    position: relative;
}

.error {
    position: absolute;
    color: rgb(255, 0, 0);
    bottom: -1.5rem;
}

@media screen and (min-width: 860px) {
    .form {
        width: 60%;
    }
}
@media screen and (min-width: 1200px) {
    .form {
        width: 30%;
    }
}

select {
    appearance: none;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    background-color: var(--grey-50);
    padding: 0.3rem 0.7rem;
}

.form-row-select {
    position: relative;
}

.dropdown-icon {
    position: absolute;
    right: 5px;
    bottom: 8px;
    font-size: 1.2rem;
}
